@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  font-size: 1rem;
} */

body {
  font-family: Poppins, monospace, sans-serif !important;
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-5xl mx-auto sm:px-16 px-6;
}

.gameboard {
  @apply w-full bg-inherit
}

.active {
  @apply text-white
}

div:has(div.backdrop-custom) {
  z-index: -1 !important;
}

.backdrop-custom {
  @apply items-end justify-center transition-all duration-200;
}