@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  font-size: 1rem;
} */

body {
  font-family: Poppins, monospace, sans-serif !important;
  font-weight: 700;
}

.font-family-inherit {
  font-family: inherit;
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-5xl mx-auto sm:px-16 px-6;
}

.game {
  @apply flex flex-col-reverse items-center justify-end min-h-[500px] gap-y-28 mt-10
}

.active {
  @apply text-white
}

div:has(div.backdrop-custom) {
  z-index: -1 !important;
}

.backdrop-custom {
  @apply items-end justify-center transition-all duration-200;
}

@layer utilities {
  @variants responsive {

    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}